@use "../../responsive.scss" as *;

.searchBar {
  .type {
    button {
      padding: 1.2rem 2.4rem;
      border: 1px solid #999;
      cursor: pointer;
      background-color: white;
      text-transform: uppercase;
      border-bottom: none;

      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }
    }
  }

  form {
    border: 1px solid #999;
    display: flex;
    height: 6.4rem;
    gap: 5px;

    @include sm {
      flex-direction: column;
      border: none;
    }

    input {
      border: none;
      padding: 0 1rem;
      width: 16rem;

      @include lg {
        padding: 0 0.5rem;

        &:nth-child(2),
        &:nth-child(3) {
          width: 14rem;
        }
      }

      @include md {
        width: 24rem;
        &:nth-child(2),
        &:nth-child(3) {
          width: 16rem;
        }
      }

      @include sm {
        width: auto;
        padding: 2rem;
        border: 1px solid #999;

        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }
      }
    }

    button {
      border: none;
      cursor: pointer;
      background-color: #fece51;
      //width: 10rem;
      flex: 1;

      @include sm {
        padding: 1rem;
      }

      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}
