@use "../../theme.scss" as *;

.listPage {
  display: flex;
  height: 100%;

  .listContainer {
    flex: 3;
    height: 100%;

    .wrapper {
      height: 100%;
      padding-right: 5rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      h1 {
        font-weight: 300;
        font-size: 2rem;

        b {
          color: var(--Dark, #383838);
          border-bottom: solid 3px $color-accent;
          text-transform: capitalize;

          /* Header H6 M 20 */
          font-family: Geller;
          font-size: 2.4rem;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 20px */
        }
      }

      .cards {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        overflow-y: scroll;
        padding-bottom: 5rem;
      }
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: rgba(238, 231, 244, 0.692);
  }
}
