@use "../../theme.scss" as *;

.filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font-weight: 300;
    font-size: 2rem;

    b {
      color: var(--Dark, #383838);
      border-bottom: solid 3px $color-accent;

      /* Header H6 M 20 */
      font-family: Geller;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 20px */
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 2;

    label {
      font-size: 1rem;
    }

    input,
    select {
      width: 10rem;
      padding: 1rem;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 1.4rem;
    }
  }

  .top {
    input {
      width: 100%;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;

    .date-picker {
      width: max-content;

      input {
        width: max-content;
      }
    }

    button {
      width: 10rem;
      padding: 1rem;
      border: none;
      cursor: pointer;
      background-color: $color-accent;
    }

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
